body {
    margin: 0;
    padding: 20px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* 標籤尺寸 */
.label {
    width: 5cm;
    height: 3cm;
    box-sizing: border-box;
    padding: 8px;
    position: relative;
    background-color: rgb(255, 253, 162);
}

/* 商品名稱 */
.product-name {
    font-weight: 700;
    font-size: 16px;
}
.product-name span {
    font-weight: 400;
    font-size: 12px;
    color: rgb(39, 39, 39);
}

/* 商品價格 */
.price {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-weight: 700;
    font-size: 32px;
    color: rgb(255, 38, 0);
}
/* 貨幣單位 */
.currency {
    font-size: 12px;
}
